.search {

    &__input{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        max-width: 560px;
        align-items: center;
        border-radius: 999px;
        border: 1px solid lightgrey;
        padding: 2px 20px;
        width: 75vw;

        &Icon{
            color: gray;
        }

        input{
            flex:1;
            padding: 10px 10px;
            border: none;
            font-size: medium;
            &:focus {
                outline: none;
                outline-width: 0;
            }
        }


    }

    &__buttons {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        &Hidden{
            display: none !important;
        }

        & button {
            margin: 5px;
            padding: 7px 15px;
            background-color: #f8f8f8;
            border: 1px solid white;
            color: #5f6368;
            text-transform: inherit;
            font-size: 13px;
            &:hover {
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
                background-color: #f8f8f8;
                border: 1px solid #c6c6c6;
                color: #222; 
            }

        }
    }
    
}